@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 30px;
    background-image: linear-gradient(
        #000,
        #5f54d4,
        #b927b0,
        #fa2a66,
        #ff1751,
        #000
    );
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

header nav {
    display: flex;
    margin: 0 auto;
    font-family: "Aoboshi One", serif;
    font-weight: lighter;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li a {
    margin-top: 50px;
    display: block;
    color: rgba(255, 255, 255, 0.795);
    padding: 5px;
    text-overflow: ellipsis;
    font-style: normal;
}

/*      MENU      */

#menu-esquerda {
    display: contents;
    margin: 10%;
}

#menu-direita {
    display: flex;
    margin-left: 125px;
}

#menu-direita li:nth-child(1) a {
    overflow: hidden;
    white-space: nowrap;
}

#menu-direita li:nth-child(2) a {
    overflow: hidden;
    white-space: nowrap;
}

a:hover {
    color: #0026ff;
    font-size: 35px;
    font-weight: 600;
    border: 0px solid #f1a5d8;
    border-radius: 5%;
    transition: 0.5s all;
}

a:not(:hover) {
    transition: 1s all;
}

a:active {
    color: #f1a5d8;
    font-size: 40px;
    transition: 0s;
}

li {
    font-weight: large;
    margin: 10px 10px;
}

.nome-overdrum {
    text-align: center;
    margin-bottom: 100px;
}

.overdrum {
    font-family: "Montserrat", sans-serif;
    border: 0px;
    border-style: solid;
    border-color: #000;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 900;
    margin: 100px;
    padding: 70px;
    margin-top: 20%;
    transition: 1s all;
    color: rgb(201, 223, 223);
    background-color: #111111;
}

.texto-overdrum {
    margin-top: 10%;
    padding-top: 60%;
}

img {
    position: absolute;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}
